@model IEnumerable<EcommerceShared.Models.Category>

<ul>
    @foreach (var category in Model)
    {
        <li>
            <a asp-controller="Product" asp-action="ByCategory" asp-route-id="@category.Id">@category.Name</a>
        </li>
    }
</ul>
